<%= form_with model: @url_map do |form| %>
  <%= form.label :url, "URL to shorten" %>
  <%= form.text_field :url %>
  <%= form.submit "Shorten!" %>
<% end %>

<% if flash[:short_url] %>
<p id="success">
  Your shortened url is:
  <a id='short-url' data-turbolinks=false href='<%= flash[:short_url] %>'><%= flash[:short_url] %>
  </a>.
</p>
<% end %>

<% if flash[:errors] %>
<p id="error">
  <ul>
   <% flash[:errors].each do |error| %>
      <li><%= error.to_s %></li>
    <% end %>
  </ul>
</p>
<% end %>
