<!DOCTYPE html>
<html>
  <head>
    <title>Weely</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <h1 class="navbar-brand">Weely Url Shortner</h1>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <%= link_to('New', '/', class: "nav-link #{active_class('/')}") %>
              </li>
              <li class="nav-item">
                <%= link_to("View Short Links", url_maps_path, class: "nav-link #{active_class(url_maps_path)}") %>
              </li>
               <% unless request.path == '/' %>
                <li class="nav-item">
                  <%= link_to('Back', 'javascript:history.back()', class: "nav-link") %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
